.client {
  background-color: #111111;
  height: 100%;
  margin-top: 0;
  // @media only screen and (max-width: $mobile) {
  //   height: 100%;
  // }
  @media (min-width: $ipad) and (max-width: $tablet) {
    height: 700px;
  }
  .clients {
    align-items: center;
    text-align: center;
    font-family: $fontFamily;
    max-width: 700px;
    margin: auto;
    h3 {
      padding-top: 90px;
      background: linear-gradient(
        90deg,
        #1fd895 10.14%,
        #12badf 19.71%,
        #c5018e 54.62%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size: 22px;
      margin-bottom: 0;
    }
  }
  h2 {
    margin-top: 0;
    font-size: 60px;
  }

  .img {
    position: relative;
    width: fit-content;
    align-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

    @media only screen and (max-width: $mobile) {
      grid-template-columns: auto auto;
    }
    @media only screen and (max-width: $ipad) {
      width: fit-content;
      gap: 0;
    }
    @media only screen and (max-width: $tablet) {
    }

    @media only screen and (max-width: $mobile) {
      margin: 0;
    }
  }
  .frame1 {
    position: relative;
    left: 42%;
    margin-top: 10px;
    @media only screen and (max-width: $tablet) {
      left: 30%;
      margin-top: 20px;
    }

  }
}
