nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  img {
    width: 70%;
  }

  ul {
    list-style: none;
    display: flex;
    .home {
      display: flex;
      justify-content: space-around;
      width: 800px;
      :hover {
        color: #e74b4b;
        transition: 0.5s ease-in;
        letter-spacing: 2px;
      }

      li {
        @media only screen and (max-width: $mobile) {
          opacity: 0;
        }
      }

      @media only screen and (max-width: $mobile) {
        display: none;
        height: 50vh;
        position: absolute;
        top: 8vh;
        right: 0px;
        background-color: #e74b4b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      @media (min-width: $ipad) and (max-width: $tablet) {
        display: none;
        height: 50vh;
        position: absolute;
        top: 8vh;
        right: 0px;
        background-color: #e74b4b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      font: {
        size: 15px;
        weight: 600;
        family: $fontFamily;
      }
      .home-active {
        @media only screen and (max-width: $mobile) {
          transform: translateX(0);
        }
        @media (max-width: $ipad) and (max-width: $tablet) {
          transform: translateX(0);
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;

      @media (min-width: $ipad) and (max-width: $tablet) {
        padding-left: -10rem;
      }
    }
    button {
      border: 1px solid #e74b4b;
      border-radius: 20px;
      background-color: #e74b4b;
      color: white;
      width: 140px;
      height: 25px;
      padding: auto;
      text-transform: uppercase;
      font-family: $fontFamily;
      @media only screen and (max-width: $mobile) {
        display: none;
        width: 100px;
      }
    }
    .burger {
      display: none;
      cursor: pointer;

      @media only screen and (max-width: $mobile) {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      @media (min-width: $ipad) and (max-width: $tablet) {
        display: block;
      }
    }
  }
}
