nav {
  overflow-x: hidden;

  display: flex;
  justify-content: space-around;
  padding: 0 7vw;
  top: 0.1px;
  align-items: center;
  text-decoration: none;
  
  .logo {
    max-width: 20%;
    @media only screen and (max-width: $mobile) {
      max-width: 50%;
    }

    @media (min-width: $ipad) and (max-width: $tablet) {
      max-width: 70%;
    }
    img {
      width: 100%;
      @media only screen and (max-width: $mobile) {
        width: 100%;
      }
      @media (min-width: $ipad) and (max-width: $tablet) {
        width: 100%;
      }
    }
  }
  .nav-menu {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;

    li {
      list-style: none;
      font-family: $fontFamily;
      margin: 0 10px;
      text-align: center;

      @media only screen and (max-width: $mobile) {
        display: none;
      }

      @media (min-width: $ipad) and (max-width: $tablet) {
        display: none;
      }
      a {
        text-decoration: none;
        color: white;
        justify-content: center;
        font-family: serif;
        transition: border all 0.2 ease;
        font-family: $fontFamily;
        font-weight: 600;
        button {
          border: 1px solid #e74b4b;
          background-color: #e74b4b;
          padding: 10px 0;
          border-radius: 15px;
          color: white;
          width: 150px;
          text-transform: uppercase;
          font-family: $fontFamily;
        }
      }
    }
  }
  .burger {
    display: none;

    @media only screen and (max-width: $mobile) {
      display: block;
    }
    @media (min-width: $ipad) and (max-width: $tablet) {
      display: block;
    }
  }
}
