.rectangle {
  position: relative;
  max-width: fit-content;
  margin: 80px auto auto auto;
  top: 70px;
  left: 20px;
  font-family: $fontFamily1;
  height: 300px;
  gap: 150px;
  display: flex;
  @media only screen and (max-width: $mobile) {
    display: block;
  }
  @media (min-width: $ipad) and (max-width: $tablet) {
    display: block;
  }
  .rectangle1 {
    // float: left;
    width: 200px;
    img {
      width: 280px;
      margin-top: 10px;
    }
    p {
      margin-top: 35px;
      width: 280px;
      font-size: 18px;
    }
  }
  .rectangle2 {
    display: flex;
    text-align: left;
    align-items: left;
    font-size: 18px;
    @media only screen and (max-width: $mobile) {
      display: block;
      font-size: 14px;
      align-items: center;
      text-align: center;
    }

    @media only screen and (max-width: $tablet) {
      display: block;
      font-size: 14px;
      align-items: center;
      text-align: center;
    }

    .side,
    .side1,
    .side2 {
      margin-right: 40px;
      h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-family: $fontFamily1;
      }
    }
  }
}
