@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("../assets1/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins1";
  src: url("../assets1/fonts/Poppins-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 7vw;
  top: 0.1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

nav .logo {
  max-width: 20%;
}

@media only screen and (max-width: 420px) {
  nav .logo {
    max-width: 50%;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  nav .logo {
    max-width: 70%;
  }
}

nav .logo img {
  width: 100%;
}

@media only screen and (max-width: 420px) {
  nav .logo img {
    width: 100%;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  nav .logo img {
    width: 100%;
  }
}

nav .nav-menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-menu li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  nav .nav-menu li {
    display: none;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  nav .nav-menu li {
    display: none;
  }
}

nav .nav-menu li a {
  text-decoration: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: serif;
  -webkit-transition: border all 0.2 ease;
  transition: border all 0.2 ease;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

nav .nav-menu li a button {
  border: 1px solid #e74b4b;
  background-color: #e74b4b;
  padding: 10px 0;
  border-radius: 15px;
  color: white;
  width: 150px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

nav .burger {
  display: none;
}

@media only screen and (max-width: 420px) {
  nav .burger {
    display: block;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  nav .burger {
    display: block;
  }
}

.hero h1 {
  text-transform: uppercase;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 580px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, color-stop(10.14%, #1fd895), color-stop(49.71%, #12badf), color-stop(84.62%, #c5018e));
  background: linear-gradient(90deg, #1fd895 10.14%, #12badf 49.71%, #c5018e 84.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 420px) {
  .hero h1 {
    width: 280px;
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
  }
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media only screen and (max-width: 420px) {
  .contain {
    display: block;
    gap: 5px;
  }
}

.main {
  width: 373px;
  height: 304px;
  background-color: #161515;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 420px) {
  .main {
    margin: 10px auto;
    width: 320px;
    height: 230px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main h2 {
  text-transform: uppercase;
}

.main p {
  weight: 600;
  family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222222;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 420px) {
  .container {
    height: 500px;
    margin: auto;
  }
}

.container .Image {
  margin-right: 130px;
}

@media only screen and (max-width: 420px) {
  .container .Image {
    display: none;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .container .Image {
    display: none;
  }
}

.container .Image .one {
  position: relative;
  top: -20px;
  left: -30px;
  border-radius: 12px;
}

@media only screen and (max-width: 1280px) {
  .container .Image .one {
    top: -20px;
    left: -50px;
  }
}

.container .Image .two {
  position: absolute;
  left: 180px;
  top: 70rem;
  border-radius: 12px;
}

@media only screen and (max-width: 1280px) {
  .container .Image .one {
    top: 40px;
    left: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .contain1 {
    margin-left: 60px;
  }
}

.contain1 h1 {
  font-size: 22px;
  background: Linear-gradient(90deg, #1fd895 1.6%, #12badf 4.77%, #c5018e 19.777%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0;
}

.contain1 h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 550px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (max-width: 420px) {
  .contain1 h2 {
    font-size: 40px;
    width: 400px;
  }
}

.contain1 p {
  font-size: 18px;
  width: 500px;
  font-family: Poppins1;
}

@media only screen and (max-width: 420px) {
  .contain1 p {
    font-size: 15px;
    width: 350px;
  }
}

.contain1 button {
  border: 2px solid white;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: #222222;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container1 {
  margin-top: 90px;
  font-family: "Poppins", sans-serif;
}

.container1 .services {
  text-align: center;
  -webkit-animation: backInRight;
          animation: backInRight;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.container1 .services h3 {
  font-weight: 700;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10.14%, #1fd895), color-stop(49.71%, #12badf), color-stop(54.62%, #c5018e));
  background: linear-gradient(90deg, #1fd895 10.14%, #12badf 49.71%, #c5018e 54.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container1 .services h2 {
  font-size: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 680px;
  margin: auto;
  line-height: 0.9;
}

@media only screen and (max-width: 420px) {
  .container1 .services h2 {
    width: 370px;
    font-size: 40px;
  }
}

.container1 .services p {
  font-size: 18px;
  font-family: Poppins1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 647px;
  margin: 20px auto;
}

@media only screen and (max-width: 420px) {
  .container1 .services p {
    width: 350px;
  }
}

.services-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 30px;
  -webkit-animation: none;
          animation: none;
}

@media only screen and (max-width: 420px) {
  .services-1 {
    display: block;
  }
}

.services-1 .main-1,
.services-1 .main-2,
.services-1 .main-3 {
  width: 373px;
  height: 304px;
  background-color: #161515;
  text-align: center;
  padding-top: 20px;
  margin: 30px 0;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 420px) {
  .services-1 .main-1,
  .services-1 .main-2,
  .services-1 .main-3 {
    margin: 10px auto;
    width: 320px;
    height: 260px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .services-1 .main-1,
  .services-1 .main-2,
  .services-1 .main-3 {
    height: 370px;
  }
}

.services-1 h2 {
  text-transform: uppercase;
}

.services-1 p {
  weight: 600;
  family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.boxes {
  background-color: #222222;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.boxes .box1 {
  width: 550px;
  position: relative;
  margin: auto;
  -webkit-animation: backInLeft;
          animation: backInLeft;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  top: -30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 420px) {
  .boxes .box1 {
    width: 300px;
  }
}

@media only screen and (max-width: 1280px) {
  .boxes .box1 {
    top: 20px;
  }
}

.boxes .box1 h3 {
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10.14%, #1fd895), color-stop(84.62%, #c5018e));
  background: linear-gradient(90deg, #1fd895 10.14%, #c5018e 84.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .boxes .box1 h3 {
    font-size: 20px;
  }
}

.boxes .box1 h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 5px;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .boxes .box1 h2 {
    font-size: 30px;
  }
}

.boxes .box1 p {
  font-family: Poppins1;
  text-align: center;
}

.boxes .Images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

@media only screen and (max-width: 1280px) {
  .boxes .Images {
    margin: auto;
    display: block;
    margin-top: 70px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.boxes .Images .Image-1,
.boxes .Images .Image-2,
.boxes .Images .Image-3 {
  position: relative;
}

@media only screen and (max-width: 420px) {
  .boxes .Images .Image-1,
  .boxes .Images .Image-2,
  .boxes .Images .Image-3 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1025px) {
  .boxes .Images .Image-1,
  .boxes .Images .Image-2,
  .boxes .Images .Image-3 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .boxes .Images .Image-1,
  .boxes .Images .Image-2,
  .boxes .Images .Image-3 {
    margin-bottom: 20px;
  }
}

.boxes .Images .Image-1 img,
.boxes .Images .Image-2 img,
.boxes .Images .Image-3 img {
  border-radius: 15px;
  border: 1px solid none;
}

.boxes .Images .Image-1 .border,
.boxes .Images .Image-2 .border,
.boxes .Images .Image-3 .border {
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 10%;
}

.boxes .Images .Image-1 .border h2,
.boxes .Images .Image-2 .border h2,
.boxes .Images .Image-3 .border h2 {
  text-transform: uppercase;
}

.boxes .bliss {
  position: relative;
  top: 10px;
  display: block;
}

@media only screen and (max-width: 420px) {
  .boxes .bliss {
    top: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .boxes .bliss {
    top: 10px;
  }
}

.boxes .bliss p {
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 25px;
  height: 35px;
  width: 180px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 0;
}

.client {
  background-color: #111111;
  height: 600px;
  margin-top: 0;
}

@media only screen and (max-width: 420px) {
  .client {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .client {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.client .clients {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: auto;
}

.client .clients h3 {
  padding-top: 90px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10.14%, #1fd895), color-stop(19.71%, #12badf), color-stop(54.62%, #c5018e));
  background: linear-gradient(90deg, #1fd895 10.14%, #12badf 19.71%, #c5018e 54.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  margin-bottom: 0;
}

.client h2 {
  margin-top: 0;
  font-size: 60px;
}

.img {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media only screen and (max-width: 420px) {
  .img {
    margin: 0;
  }
}

.img .frame1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 20px;
}

@media only screen and (max-width: 420px) {
  .img .frame1 {
    display: inline;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .img .frame1 {
    display: inline;
    margin-left: 0;
  }
}

.img .frame2 {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 150px;
}

@media only screen and (max-width: 420px) {
  .img .frame2 {
    display: inline;
    margin: 0;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .img .frame2 {
    display: block;
    margin: 0;
  }
}

.rectangle {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  top: 70px;
  left: 20px;
  font-family: Poppins1;
  height: 300px;
  gap: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 420px) {
  .rectangle {
    display: block;
    left: 0;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .rectangle {
    display: block;
  }
}

.rectangle .rectangle1 {
  width: 200px;
}

.rectangle .rectangle1 img {
  width: 280px;
  margin-top: 10px;
}

.rectangle .rectangle1 p {
  margin-top: 35px;
  width: 280px;
  font-size: 18px;
}

.rectangle .rectangle2 {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 18px;
}

@media only screen and (max-width: 420px) {
  .rectangle .rectangle2 {
    font-size: 14px;
  }
}

.rectangle .rectangle2 th {
  text-transform: uppercase;
}

.rectangle .rectangle2 td {
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: break-all;
}

@media only screen and (max-width: 420px) {
  .rectangle .rectangle2 td {
    font-size: 14px;
    padding-right: 40px;
  }
}

@media (min-width: 688px) and (max-width: 1025px) {
  .rectangle .rectangle2 td {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */